.game-board {
  width:300px;
  margin-top:10px;
  text-align: center;
}

.custom-box{
  border: #CCC 1px solid;
  height: 100px;
  width: 100px;

}


.scoreboard{
  margin-top: 30px;
  border-top: #CCC 1px solid;
  border-bottom: #CCC 1px solid;
}
